<h1>Trading App</h1>

<li><%= link_to 'Calendar', trading_calendar_path %></li>
<li><%= link_to 'Weekly calendar', trading_weekly_calendar_path %></li>
<li><%= link_to 'Marketwatch info', trading_marketwatch_path %></li>

