<h2>Trading calendar</h2>

<br/>

<iframe id="iframe_calendar" src="http://ec.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=58&lang=1" width="1024" height="800" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>


<iframe src="http://ec.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=day&timeZone=55&lang=1" width="636" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>