/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$app-primary-bg-color: #333;
$app-secondary-bg-color: #3e3e3e;
$app-tertiary-bg-color: #666;
$app-tertiary-bg-hover-color: #818181;
$app-quaternary-bg-color: #999;

$app-body-font-primary-color: #fff;
$app-body-font-secondary-color: #999;

$app-primary-accent-color: #00ACDB;
$app-primary-accent-hover-color: #00c8ff;
$app-primary-accent-click-color: #0081a4;

/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require themes/dark.min.css
 */

html, body {
  height: 100%;
  color: $app-body-font-primary-color;
  margin-bottom: 0px;
}

.special, .special .jumbotron {
  //height: 100%;
  background-color: $app-tertiary-bg-color;
  margin-bottom: 0px;
}

header {
  height: 40px;
  .navbar-default {
    background-color: $app-primary-bg-color;
    color: $app-body-font-primary-color;
  }
}

footer.footer {
  background-color: $app-primary-bg-color;
  color: $app-body-font-primary-color;
  bottom: inherit;
}

.vertical-center {
  min-height: 90%; /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.semaphore-red {
  background-color: red;
}

.semaphore-green {
  background-color: green;
}

.semaphore-transparent {
  background-color: transparent;
}

.container.content {
  background-color: $app-secondary-bg-color;
  margin: 0 20px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /* color: #333; */
  background-color: $app-tertiary-bg-hover-color;
}