// Place all the styles related to the trading controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th, td {
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
}

.marketwatch-header-text {
  background-color: darkorange;
  padding: 0 10px;
}

.marketwatch-cell-text {
  padding: 0 10px;
}

.marketwatch-product-cell {
  background-color: transparent;
  padding: 0 20px 0 10px;
  text-transform: uppercase;

}

#data_grid {
  margin: 0 0 0 20px;
}