<footer class="footer">
  <div class="container">
    <p class="text-muted">Version: <%= Configuration.app_version %>
      <% if Configuration.git_version != '' %> Git Commit: <%= Configuration.git_version %> <% end %></p>
  </div>
</footer>